*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

body{
  background-image: url(image/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-picture-image_1247634.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sheet{
  background-color: rgba(123, 201, 246, 0.93);
  border: 20px solid rgba(123, 201, 246, 0.93);
  border-radius: 10px;

}
.btn{
  width: 60px;
  margin-top: 5px;
  margin-bottom: 2px;
  padding: 7px;
  margin-left: 6rem;
  border-radius: 8px;
}
.btn:hover{
  background-color: rgb(94, 189, 248);
  color: aliceblue;
  cursor: pointer;
}
